{% extends "AppBlog/padre.html" %}
{% load static %} 

{% block contenidoQueCambia %}

    <p style="color:blueviolet"> Acerca de mi </p>
    <p style="color:rgb(42, 17, 65)"> Mi nombre es Heber. Mi primer acercamiento a la programacion es el curso de Python de CoderHouse, y este es un intento de Blog que se presenta como proyecto final del curso. La idea es seguir aprendiendo y mejorarlo esteticamente como para poder usarlo de portfolio.
    El proyecto se va a transformar de a poco en un blog de viajes y contar sobre los recorridos recomendados y precios </p>

{% endblock %} 
